<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
    	xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.vardhamanbullion.live"
        versionCode="10011"
        android-versionCode="10012"
        version   = "1.0.0">


    <name>Vardhaman Gold</name>

    <description>
        Vardhaman Gold is a renowned company providing Gold and Silver Bullion, Jewellery in India. Established in 
        Jan 2000, it has grown leaps and bounds and is now a leading company providing competitive rates and impeccable service
    </description>

    <author href="http://www.nemsolutions.com" email="amitjain231@gmail.com">
        Amit kumar Jain
    </author>
	
	<platform name="android">
	  <edit-config file="AndroidManifest.xml" target="/manifest/application" mode="merge">
	    <application android:usesCleartextTraffic="true" />
	  </edit-config>
	</platform>
	
	<gap:platform name="android" />
	<gap:plugin name='cordova-plugin-whitelist' spec='1.0.0' source='npm' />
	<access origin="*" />	
	<allow-navigation href="http://*/*" />	
	<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
	
	
	<!-- ANDROID * ANDROID * ANDROID -->
	<preference name="orientation"                	value="portrait" /> 
	<!-- <preference name="SplashScreen" 			value="screen" />	
	<preference name="AutoHideSplashScreen" value="false" />	
	<preference name="SplashScreenDelay" 	value="3000"/> -->	

	<icon src="icon.png" />
	<icon src="icon.png" platform="android" qualifier="ldpi" />
	<icon src="icon.png" platform="android" qualifier="mdpi" />
	<icon src="icon.png" platform="android" qualifier="hdpi" />
	<icon src="icon.png" platform="android" qualifier="xhdpi" />
	


	<!-- <gap:splash src="splash.png"      	gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="splash.png"    		gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="splash.png"    		gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="splash.png"  		gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="splash.png"         gap:platform="blackberry" />
    <gap:splash src="splash.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="splash.png"      	gap:platform="ios"     width="640" height="960" />
    <gap:splash src="splash.png" 		gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="splash.png"       	gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="splash.png"   		gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="splash.jpg"      	gap:platform="winphone" /> -->

	
	
<!-- <feature name="SplashScreen" >
    <param
            name="android-package"
            value="org.apache.cordova.splashscreen.SplashScreen" />

    <param
            name="onload"
            value="true" />
</feature>


<platform name="android">    
    <splash src="splash.png" />
    <splash src="splash.png" platform="android" qualifier="port-ldpi"  platform="android" />
	<splash src="splash.png" platform="android" qualifier="land-ldpi"  platform="android" />
	<splash src="splash.png" platform="android" qualifier="port-mdpi"  platform="android" />
	<splash src="splash.png" platform="android" qualifier="land-mdpi"  platform="android" />
	<splash src="splash.png" platform="android" qualifier="port-hdpi" platform="android"  />
	<splash src="splash.png" platform="android" qualifier="land-hdpi" platform="android"  />
	<splash src="splash.png" platform="android" qualifier="port-xhdpi" platform="android"  />
	<splash src="splash.png" platform="android" qualifier="land-xhdpi" platform="android"  />
	<splash src="splash.png" platform="android" qualifier="port-xxhdpi" platform="android"  />
	<splash src="splash.png" platform="android" qualifier="land-xxhdpi" platform="android"  />
	<splash src="splash.png" platform="android" qualifier="port-xxxhdpi" platform="android"  />
	<splash src="splash.png" platform="android" qualifier="land-xxxhdpi" platform="android"  />

</platform> -->

	<!-- <splash src="splash.png" />
	<splash src="splash.png" platform="android" qualifier="port-ldpi" />
	<splash src="splash.png" platform="android" qualifier="land-ldpi" />
	<splash src="splash.png" platform="android" qualifier="port-mdpi" />
	<splash src="splash.png" platform="android" qualifier="land-mdpi" />
	<splash src="splash.png" platform="android" qualifier="port-hdpi" />
	<splash src="splash.png" platform="android" qualifier="land-hdpi" />
	<splash src="splash.png" platform="android" qualifier="port-xhdpi" />
	<splash src="splash.png" platform="android" qualifier="land-xhdpi" />
	<splash src="splash.png" platform="android" qualifier="port-xxhdpi" />
	<splash src="splash.png" platform="android" qualifier="land-xxhdpi" /> -->
	
	

	<!-- Preferences Permissions, Phonegap version to build -->
	<preference name="permissions" value="none"/>
	<preference name="phonegap-version" value="cli-9.0.0" />
	<preference name="android-targetSdkVersion" value="28"/>
	
	<!-- Required only Notification permission -->
	<feature name="http://api.phonegap.com/1.0/notification"/>

</widget>